<!-- Footer -->
<footer class="py-1 bg-dark footer">
  <div class="container">
    <p class="m-0 text-center text-white">Content by <a href="{{ 'authors/nico.html' | absolute_url }}">Nicolas Inden</a> under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 license</a>
    <br />
    Mastodon: <a rel="me" href="https://meinungsschubla.de/@Nico">Nico@meinungsschubla.de</a>
    <br />
    Design inspired by: <a href="https://github.com/BlackrockDigital/startbootstrap-blog-home">Blog-Home</a>
    <br />
    <a href="{{ 'impressum.html' | absolute_url }}">Impressum</a></p>
  </div>
  <!-- /.container -->
</footer>
