<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | absolute_url }}">Nicos Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item {% if page.url == '/' | absolute_url %}active{% endif %}">
          <a class="nav-link" href="{{ '/' | absolute_url }}">Blog</a>
        </li>
        <li class="nav-item {% if page.url == '/authors/nico.html' | absolute_url %}active{% endif %}">
          <a class="nav-link" href="{{ '/authors/nico.html' | absolute_url }}">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
