<div class="card mb-4">
  <div class="card-body">
    <h2 class="card-title mb-0">{{ post.title }}</h2>
    <p class="text-muted">{{ post.subtitle }}</p>
    <p class="card-text">{{ post.excerpt }}</p>
    <a href="{{ post.url | absolute_url }}" class="btn btn-outline-secondary">Read More &rarr;</a>
  </div>
  <div class="card-footer text-muted">
    {{ post.category | capitalize }} posted on {{ post.date | date_to_string }}
    {% assign author = site.authors | where: 'short_name', post.author | first %}
    {% if author %}
     by <a href="{{ author.url | absolute_url }}">{{ author.name }}</a>
    {% endif %}
  </div>
</div>
