---
layout: default
---
<div class="row">
  <div class="col-sm-4"><!--left col-->
    <div class="text-center">
      <img src="{{ 'assets/images/' | append: page.profile_image | absolute_url }}" class="avatar img-thumbnail" alt="avatar">
    </div>
  </div>
  <div class="col-sm-8"><!--right col-->
    <div class="card text-center">
      <h5 class="card-header">About Me</h5>
      <div class="card-body">
        {{ page.about }}
        <hr/>
        <a class="btn btn-light" href="{{ page.mastodon }}"><i class="fab fa-2x fa-mastodon"></i></a>
        <a class="btn btn-light" href="{{ page.twitter }}"><i class="fab fa-2x fa-twitter"></i></a>
        <a class="btn btn-light" href="{{ page.github }}"><i class="fab fa-2x fa-github"></i></a>
        <a class="btn btn-light" href="{{ page.xing }}"><i class="fab fa-2x fa-xing"></i></a>
        <a class="btn btn-light" data-toggle="collapse" href="#gpgKey" role="button" aria-expanded="false" aria-controls="gpgKey"><i class="fas fa-2x fa-lock"></i></a>
      </div>
      <div class="collapse text-muted" id="gpgKey">
        GPG Public Key
        <a class="btn btn-light" href="{{ page.gpg_key_url | absolute_url }}"><i class="fas fa-lg fa-file-download"></i></a><br/>
        {{ page.gpg_key_fingerprint }}
      </div>
    </div>
  </div>
</div>

{% if page.highlightboxes %}
<br/>
<div class="row">
{% for box in page.highlightboxes %}
<!-- Highlightbox -->
  <div class="col-sm-4">
    <div class="card">
      <h5 class="card-header">{{ box.title }}</h5>
      <div class="card-body">
        {{ box.content }}
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endif %}

{% if page.community %}
<br/>
<h3>Community</h3>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col">Community</th>
      <th scope="col"></th>
      <th scope="col">What it's about</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    {% for com in page.community %}
    <tr>
      <td>{{ com.title }}</td>
      <td>{{ com.position }}</td>
      <td>{{ com.content }}</td>
      <td><a href="{{ com.link | absolute_url }}"><i class="fas fa-link"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if page.experience %}
<br/>
<h3>Experience</h3>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Title</th>
      <th scope="col">Company</th>
      <th scope="col">What I did</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    {% for exp in page.experience %}
    <tr>
      <td>{{ exp.time }}</td>
      <td>{{ exp.title }}</td>
      <td>{{ exp.company }}</td>
      <td>{{ exp.content }}</td>
      <td><a href="{{ exp.link | absolute_url }}"><i class="fas fa-link"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if page.publications %}
<br/>
<h3>Publications</h3>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Title</th>
      <th scope="col">Released</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    {% for pub in page.publications %}
    <tr>
      <td>{{ pub.type }}</td>
      <td>{{ pub.title }}</td>
      <td>{{ pub.date }}</td>
      <td><a href="{{ pub.link | absolute_url }}"><i class="fas fa-link"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if page.education %}
<br/>
<h3>Education</h3>
<hr/>
<div class="row">
{% for box in page.education %}
<!-- Highlightbox -->
  <div class="col-sm-4">
    <div class="card">
      <h5 class="card-header">{{ box.title }}</h5>
      <div class="card-body">
        {{ box.content }}
      </div>
      <div class="card-footer text-muted">
        {{ box.time }}
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endif %}

{{ content }}
