<!DOCTYPE html>
<html lang="de">

<head>
  <!-- Meta -->
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap core CSS -->
  <link href="{{ 'assets/css/main.css' | absolute_url }}" rel="stylesheet" />

  <!-- Title -->
  <title>{{ site.title }}</title>
</head>

<body>
  {% include navigation.html %}

  <!-- Page Content -->
  <div class="container">
    <br/>
    {{ content }}
    <br/>
  </div>
  <!-- /.container -->

  {% include footer.html %}

  <!-- Bootstrap core JavaScript -->
  <script src="{{ 'assets/js/bootstrap.bundle.min.js' | absolute_url }}"></script>
</body>
</html>
