---
layout: default
---
<!-- Blog Post -->
<div class="card mb-4">
  <div class="card-body markdown-body">
    <h2 class="card-title mb-0">{{ page.title }}</h2>
    <p class="text-muted">{{ page.subtitle }}</p>
    <p class="card-text">{{ content }}</p>
  </div>
  <div class="card-footer text-muted">
    Posted on {{ page.date | date_to_string }} by
    {% assign author = site.authors | where: 'short_name', page.author | first %}
    {% if author %}
    <a href="{{ author.url }}">{{ author.name }}</a>
    {% endif %}
  </div>
</div>
